.customer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin-left: 20%;
    width: 80%;
    background-color: rgb(242, 244, 249);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

