.member {
    position: fixed;
    font-size: 3rem;
    height: 100vh;
    width: 100vw;
    margin-left: 20%;
    background-color: rgb(242, 244, 249);
    justify-content: center;
}

.member-dash {
    display: flex;
}

.member-header {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 8rem;
    font-weight: 300;
    margin-left: 3vw;
}

.table-container {
    margin: 0 3vw;
    width: 55vw;
    height: 85vh;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    overflow: auto
}

.create-container {
    margin-left: 20%;
    width: 15vw;
    height: 50vh;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-text {
    margin: 1rem;
    font-size: 2rem;
}


.create-form {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


label {
    margin-bottom: 1rem;
}

input {
    border-radius: 0.5rem;
    border: 1px solid rgb(197, 193, 193);
    margin-bottom: 1rem;
}

button {
    margin-top: 2rem;
    height: 4rem;
    width: 10rem;
    background-color: aliceblue;
    border: none;

}

button:hover {
    cursor: pointer;
}

.table-title {
    background-color: aliceblue;
    font-size: 3rem;
    display: flex;
    font-size: 3rem;
    /* position: fixed; */

}


.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container {
    margin-top: 2rem;
    margin-left: 20%;
    width: 15vw;
    height: 33vh;
    background-color: white;
    border-radius: 1rem;

}

.member-count {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.count-up {
    font-size: 15rem;

}

.members-currently {
    font-size: 1.5rem;
    position: absolute;
    right: 23%;
    bottom: 32%;
}