.planning {
    position: fixed;
    font-size: 3rem;
    height: 100vh;
    width: 80vw;
    margin-left: 20%;
    background-color: rgb(242, 244, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.planning-container {
    margin-top: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: space-evenly;
    font-size: 3rem;
    border-radius: 1rem;
    padding: 1rem;
}