.inv-entry {
    display: flex;
    width: 90%;
    /* background-color: aqua; */
    justify-content: space-evenly;
    margin: 0 3rem;
}

.inv-name {
    align-self: center;
    font-size: 1.8rem;

}

.rop {
    font-size: 2.5rem;
    align-self: center;
}

.inv-form {
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
}