/* .container{
  dis
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;

}


body {
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;

}


.container {
  display: flex;
}


.link {
  font-size: 4rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(103, 103, 103);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 1rem;
}

.left {
  width: 20vw;
  background: rgb(22, 23, 33);
  padding-top: 5rem;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
}

.link#ddd, .link:hover {
  color: white;
  padding: 1rem 20rem;
  background-color: rgb(47, 48, 56);
  border-radius: 2rem;
}